.gradient-background{
    background: linear-gradient(300deg,  #0B0C10, #1F2833, #45A29E);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#education h1, #projects h1, #skills h1 {
 
    justify-self: center;  
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top:2rem ;
    
  }

  

  #education img{
    width: 200px;
    border-radius: 100%;
   
  }
  
  #education p{
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  #education h3{
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    text-align: center;

    
  }
 .college{
  margin-bottom: 2.5rem;
 }

 .flex{
  display: flex;
  gap: 50px;
 }

 .flex img {
  width: 500px;
  height: 275px;
  ;
 }
.flex h3 {
  color:aliceblue;
  font-size: 4rem;
  font-weight: bold;
}

.grid {
  size: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
gap: 4px;
padding: 4px;
color: white;
background: white;
margin-bottom: 50px;
}

.lang {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #2F6967;
  padding: 20px;

}
.Language{
  grid-column-start: 2;
  grid-column-end: -1;
  background-color: #2F6967;
  padding: 20px;
}
.web{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #2F6967;
  padding: 20px;


}
.webdev{
  grid-column-start: 2;
  grid-column-end: -1;
  background-color: #2F6967;
  padding: 20px;
}
.course{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: #2F6967;
  padding: 20px;
}

.CS{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #2F6967;
  padding: 20px;
}
.maths{
  grid-column-start:2 ;
  grid-column-end: 3;
  background-color: #2F6967;
  padding: 20px;
 
}
.css{
  grid-column-start:3 ;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #2F6967;
  padding: 20px;

}
.oth{
  grid-column-start:1 ;
  grid-column-end: 2;
  background-color:#377C79;
  padding: 20px;

}
.git
{
  grid-column-start:2 ;
  grid-column-end: -1;
  background-color: #2F6967;
  padding: 20px;
 
}
.mathematics{
  background-color: 	#2F6967;
  padding: 20px;

}

p{
  color: white;
}
#contact h1 {
  color: white;
}

#contact h1{
  margin-top: 40px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
}



.butto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#footer{
  background-color: #2F6967;
  
}


 @media(max-width:966px) {.flex {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image,
.text {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text {
  margin-top: 1rem;
}


.image2,
.text2 {
  width: 100%;
  
}

.image2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text2 {
  margin-top: 1rem;
  order: 1;
}
#education h1, #projects h1, #skills h1 {
 
    text-align: center;      
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
    .grid{
    height: 100vh;
    

  }
  
 }

